<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" width="400" height="300" id="test-case:tc-extensions-share-cookies-007">
    <name>tc-extensions-share-cookies-007</name>
    <access origin="*"/>
    <content src="index.html" />
	<feature name="opera:share-cookies" required="false"/>
</widget>
