<span class="title" title="Click to focus tab."></span>
<span class="close" title="Click to close tab."></span>
<div>
	<meter></meter>
	<span class="tool-tip">0</span>
	<span class="current-time"><span>0</span> / </span>
	<img class="ctrl" alt="pp">
</div>
