<widget xmlns="http://www.w3.org/ns/widgets">
	<access origin="http://localhost:80" subdomains="true" />
	<access origin="http://t" subdomains="true" />

	<name>tc-filter-not_domains-004</name>
	<description><![CDATA[Not-Domain options in the allow list, subdomain matches]]></description>
	<feature name="opera:urlfilter"/>
</widget>