<!doctype html>
<html>
<head>
<title><TMPL_VAR name="classname"></title>
<script type="text/javascript" src="../resources/javascript/syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="../resources/javascript/syntaxhighlighter/scripts/shBrushJScript.js"></script>
<link type="text/css" rel="stylesheet" href="../resources/javascript/syntaxhighlighter/styles/shCoreDefault.css"/>
<link type="text/css" rel="stylesheet" href="../resources/css/stylesheet.css"/>
<script type="text/javascript">SyntaxHighlighter.all();</script>
</head>

<body>
<h1><TMPL_VAR name="classname"></h1>

<!-- ============ Attributes START =========== -->
<TMPL_IF NAME="fields">
<h2>Attributes</h2>
   <TMPL_LOOP NAME="fields">
   <h3 id="<TMPL_IF NAME="is_class_field">!s!</TMPL_IF><TMPL_VAR NAME="field_name">">
       <TMPL_VAR NAME="field_name">
   </h3>

   <dl>
     <dt><code><TMPL_VAR NAME="type">&nbsp;<TMPL_VAR NAME="field_name"></code></dt>
       <dd><TMPL_VAR NAME="field_description"></dd>
   </dl>

   </TMPL_LOOP>
</TMPL_IF>

<!-- ============ Attributes END =========== -->

<!-- ============ METHOD DETAIL START ========== -->
<TMPL_IF NAME="methods">
<h2>Methods</h2>

<!-- One single method detail entry -->
<TMPL_LOOP name="methods">

   <h3 id="<TMPL_IF NAME="is_class_method">!s!</TMPL_IF><TMPL_VAR name="method_name">">
     <TMPL_VAR name="method_name">
   </H3>

   <p>
     <code><TMPL_VAR NAME="type"> <TMPL_VAR name="method_name"> <TMPL_VAR name="method_arguments"></code>
   </p>

   <!-- METHOD PARAMETERS START -->
   <TMPL_IF name="method_params">
   <dl>
   <dt>Parameters:</dt>
   <TMPL_LOOP name="method_params">
     <dd>
     <code><TMPL_VAR name="varname"></code> - <TMPL_VAR name="vardescrip">
     </dd>
   </TMPL_LOOP>
   </dl>
   </TMPL_IF>
   <!-- METHOD PARAMETERS END -->

   <TMPL_IF name="method_description">
      <div><TMPL_VAR name="method_description"></div>
   </TMPL_IF>


   <TMPL_IF name="method_returns">
   <dl>
     <dt>Returns:</dt>
     <dd><TMPL_VAR name="method_returns"></dd>
   </dl>
   </TMPL_IF>

</TMPL_LOOP>
</TMPL_IF>

<!-- ============ METHOD DETAIL END ========== -->
<!-- Google Analytics -->
<script src="../resources/other/ga.js"></script>

