<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" width="400" height="300" id="test-case:tc-BrowserWindowManager-010">
    <name>tc-BrowserWindowManager-010</name>
	<description><![CDATA[Creating windows with tab groups]]></description>
    <access origin="http://localhost:80" subdomains="true" />
    <access origin="http://t" subdomains="true" />
    <content src="index.html" />
</widget>