<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" width="400" height="300" id="test-case:tc-extensions-share-cookies-016">
    <name>tc-extensions-share-cookies-016</name>
    <access origin="http://localhost" subdomains="true" />
	<!-- two domains -->
	<access origin="http://testsuites.oslo.osa"/>
	<access origin="http://www.testsuites.oslo.opera.com"/>
    <content src="index.html" />
	<feature name="opera:share-cookies" required="true" />
</widget>
