<?xml version="1.0" encoding="utf-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" width="400" height="300" id="test-case:tc-extensions-share-cookies-017">
    <name>tc-extensions-share-cookies-017</name>
    <access origin="http://localhost" subdomains="true" />
    <access origin="https://hotmail.com" subdomains="true" />
    <access origin="https://live.com" subdomains="true" />
    <content src="index.html" />
	<feature name="opera:share-cookies" required="true" />
</widget>
