<widget xmlns="http://www.w3.org/ns/widgets">
	<access origin="http://localhost:80" subdomains="true" />
	<access origin="http://t" subdomains="true" />

	<name>tc-context-menu-create-002</name>
	<description><![CDATA[Default values for menu item properties.]]></description>
	<feature name="opera:contextmenus" required="false"/>
</widget>